@font-face {
    font-family: "lato-regular";
    src: url("../font/lato-Regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
}

@font-face {
    font-family: "lato-bold";
    src: url("../font/lato-Regular.woff2") format('woff2'), url("../fonts/lato-bold.woff") format("woff");
}

body {
    font-family: "lato-regular";
    color: #2d2d2d;
    font-weight: normal;
    font-size: 22px;
}

main {
    display: flex;
}

h2 {
    font-family: "lato-bold";
    margin: 0;
}