@import url(global.css);
@import url(care.css);
@import url(promo_art.css);
@import url(header.css);
@import url(bread.css);



.header-promo {
    font-family: "lato-bold", serif;
}




#advertisement img {
    width: 530px;
    height: 330px;
}